<MDBottomNavigation #mainTabView (selectedIndexChanged)="onSelectedIndexChanged($event)" (loaded)="onBottomNavigationLoaded($event)">
    <MDTabStrip iosIconRenderingMode="alwaysOriginal">

        <MDTabStripItem>
            <Label text="Players Tab"></Label>
            <Image [src]="getIconSource('ichome')"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Teams Tab"></Label>
            <Image src="{{ getIconSource('icnotification') }}"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Statistics Tab"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </MDTabStripItem>
        <MDTabStripItem>
            <Label text="Profile Tab"></Label>
            <Image src="font://&#xf0c0;" class="fas t-36"></Image>
        </MDTabStripItem>

    </MDTabStrip>

    <MDTabContentItem>
        <GridLayout>
            <page-router-outlet name="playerTab"></page-router-outlet>
        </GridLayout>
    </MDTabContentItem>

    <MDTabContentItem>
        <GridLayout>
            <page-router-outlet name="teamTab"></page-router-outlet>
        </GridLayout>
    </MDTabContentItem>

    <MDTabContentItem>
        <GridLayout>
            <page-router-outlet name="statisticsTab"></page-router-outlet>
        </GridLayout>
    </MDTabContentItem>

    <MDTabContentItem>
        <GridLayout>
            <page-router-outlet name="profileTab"></page-router-outlet>
        </GridLayout>
    </MDTabContentItem>

</MDBottomNavigation>
